E2E_BASE_URL=http://127.0.0.1:4200
E2E_API_URL=http://127.0.0.1:3030

E2E_PLATFORM_ADMIN_LOGIN=platform_admin@temporario.com
E2E_PLATFORM_ADMIN_PASSWORD=

E2E_ADMIN_LOGIN=admin@temporario.com
E2E_ADMIN_PASSWORD=

E2E_USER_LOGIN=user@temporario.com
E2E_USER_PASSWORD=
